.List__SingleItem {
  border: 1px solid black;
  margin: 10px 0px;
  text-align: left;
}

.List__SingleItem.SingleItem {
  display: flex;
  flex-direction: row;
  position: relative;
}

.SingleItem__name {
  flex-basis: 25%;
}

.SingleItem__startDate {
  flex-basis: 25%;
}

.SingleItem__category {
  flex-basis: 25%;
}

.SingleItem__icons {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 70px;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.SingleItem__singleIcon {
  flex-basis: 50%;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}
.SingleItem__singleIcon--delete {
  color: #fd3f3f;
}

.SingleItem__singleIcon--check {
  color: #37e115;
}

.SingleItem__priority {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}